<h1>Flight Search</h1>

<div class="search container">
  <%= form_for @flight, url: root_url, method: :get do |f| %>
    <%= f.label :from_airport_id %>
    <%= f.select(:from_airport_id, options_for_select(@airports)) %><br>
    
    <%= f.label :to_airport_id %>
    <%= f.select(:to_airport_id, options_for_select(@airports)) %><br>
    
    <%= f.fields_for :passengers do |p| %>
      <%= p.label :count %>
      <%= p.select(:count, options_for_select(@passenger_count_options)) %><br>
    <% end %>
    
    <%= f.label :depart_time %>
    <%= f.select(:depart_time, options_for_select(@departures)) %><br>
    
    <%= f.submit "Search" %>
  <% end %>
</div>

<% unless @search_results.nil? %>
  <div style="margin: 0 30px; padding: 0 0 0 10px; box-shadow: 0 0 3px 3px #aaa; border-radius: 4px">
    <h2>Search Results --- Passengers: <%= @passenger_count %></h2>
    
    <%= form_for @flight, url: new_booking_url, method: :get do |f| %>
        
      <%= f.fields_for :passengers do |p| %>
        <%= p.hidden_field(:count, :value => @passenger_count) %>
      <% end %>
      
      <% @search_results.each do |flight| %>
        <%= f.radio_button(:id, flight.id) %>
        <div>
          <h3>Departing: <%= flight.depart_time.strftime("%b %d, %Y - %l:%M %P") %></h3>
          <p><strong>Route:</strong> <%= flight.from_airport.code %>-<%= flight.to_airport.code %></p>
        </div>
      <% end %>
      
      <%= f.submit "Book Flight" %>
      
    <% end %>
    
<% end %>
</div>
